doctype html
html(lang="en")
  head
    title='Quieres vivir en Londres siendo Au Pair'
    meta(name='description', content='Voy a ser tu hermana mayor aquí. Desde el principio voy a aconsejarte y guiarte. Te buscaré una familia de acojida, te enseñaré todo lo que necesitas saber y estaré contigo hasta el último paso.')
    meta(name='keywords', content='londres,vivir en londres,au pair, au pair en londres,aprender ingles,cuidar ninos')
    meta(name='robots', content='index,follow')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='shortcut icon', href='/favicon.ico')   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')    
    script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')
  body
    #root
