doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='css/vendor/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/vendor/bootstrap-theme.min.css', type='text/css')
    body
        #root
