$jumbotron-height: 700px;
$video-width: 1400px;
$video-height: 700px;

.hero-video {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  background-color: #263238;
  background-size: cover;
  color: #fff;
  margin-bottom: 5rem;

  &.jumbotron {
    padding: 5rem;
    height: $jumbotron-height;
    text-align: center;

    @include mobile {
      padding: 4rem 1rem;
      
      h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

    }
     
  } 

  video {
    position: absolute;
    width: $video-width;
    height: $video-height;
    overflow: hidden;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
  }

  .backdrop {
    position: absolute;    
    width: 100%;
    height: $video-height;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);    
  }

}