.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('../../resources/images/icons.png');}

.sprite.girl {width:128px; height:128px; background-position: 0 0}
.sprite.like {width:128px; height:128px; background-position: -128px 0}
.sprite.skype {width:128px; height:128px; background-position: -256px 0}
